@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    gap: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0d2f5a;
    --primary-color-light: #00449c;
    --secundary-color: #f5f5f5;
    --dark-color: #1e1e1e;
    --font-tittle: 2.1rem;
    --font-tittle2: 1.3rem;
    --font-size: 1.1rem;
    --font-size2: 0.9rem;
    --font-size3: 0.7rem;
    --transition: all 0.4s ease;
    --background: linear-gradient(90deg, #000000, #1e1e1e, #000000);
    --background2: linear-gradient(90deg, #dbdbdb, #f5f5f5, #dbdbdb);
    --border-radius: 10px
}


body {
    font-family: "Bai Jamjuree";
    background: white;
}

hr {
    border: 1px solid #cecece;
}

.hero {
    display: flex;
    justify-content: center;
    height: 100vh;
    min-height: 720px;
    position: relative;
    background: url('../assets/img/fundo.png') no-repeat center center/cover;
    z-index: 0;
}

.btn button {
    margin: 40px;
    width: 120px;
    height: 35px;
    color: var(--secundary-color);
    background: transparent;
    border: 2px solid;
    cursor: pointer;
    transition: var(--transition);
}

.btn button:hover {
    border-radius: 0 10px 0 10px;
    transform: scale(1.05);
}

header {
    display: flex;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    margin: 60px;
    z-index: 1;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 60px;
}

nav ul li a {
    text-decoration: none;
    color: var(--secundary-color);
    transition: var(--transition);
    font-size: var(--font-size2);
    font-weight: 500;
}

nav ul li a:hover {
    text-decoration: underline;
}

.nav-active {
    text-decoration: underline;
}

.mobile-menu {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.mobile-menu .bar {
    width: 25px;
    height: 3px;
    background-color: var(--secundary-color);
    transition: var(--transition);
}

.logo img {
    display: flex;
    width: 150px;
}

.hero-destaque {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 1;
}

.title {
    color: var(--secundary-color);
    font-size: 3rem;
    font-weight: 400;
    animation: text 11s infinite;
}

.subtitle {
    color: #f5f5f5f5;
    font-size: var(--font-size);
    font-weight: 400;
    animation: text 11s infinite;
}

.scroll-down {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    animation: bounce 2s infinite;
    z-index: 1;
}

.scroll-down a {
    text-decoration: none;
    color: white;
    font-size: 24px;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0) translateX(-50%);
    }

    40% {
        transform: translateY(-20px) translateX(-50%);
    }

    60% {
        transform: translateY(-10px) translateX(-50%);
    }
}

@keyframes text {


    50% {
        transform: scale(1.1);

    }

}



/* barra info */
.secao1 {
    margin: 60px;
    margin-top: 0;
}

#info-bar {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px;
    justify-content: space-evenly;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 0px 10px 2px #00000023;
}

#info {
    text-align: center;
    width: 250px;
}

#info h1 {
    font-size: var(--font-tittle);
    color: #c00000;
}

#info h3 {
    color: #808080;
    font-size: var(--font-size);
    font-weight: 500;
}


/* cards */
#solutions {
    margin: 60px;
}

#solution-info {
    margin-top: 80px;
    margin-bottom: 60px;
}

#solution-info h1 {
    font-size: var(--font-tittle2);
    color: #c00000;
}

#solution-info h2 {
    font-size: var(--font-size);
    color: #808080;
    font-weight: 500;
    margin-top: 10px;
}

#ctn-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 60px;
}

#card {
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: var(--border-radius);
    background: #ecf0f1;
    transition: var(--transition);
}

#card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 0px 10px 2px #00000023;
}

#card p {
    text-align: center;
    font-size: 70px;
    margin-bottom: 20px;
}

#card h1 {
    font-size: var(--font-tittle2);
    font-weight: 700;
    color: #c00000;
    text-align: center;
}

#card h2 {
    text-align: center;
    font-size: var(--font-size);
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
}






/* Quiz Styles */
.quiz {
    box-shadow: 0px 0px 10px 2px #00000023;
    border-radius: 10px 10px 0px 0px;
    padding: 30px;
    margin-top: 90px;
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--secundary-color);
}

.quiz h2 {
    margin-bottom: 10px;
    font-size: var(--font-tittle);
    color: #c00000;
}

.quiz-container {
    max-width: 800px;
    min-width: 700px;
}

.quiz-intro {
    text-align: center;
}

.quiz-intro p {
    color: #808080;
    font-size: var(--font-size);
    font-weight: 500;
}

.quiz-intro button {
    margin-top: 30px;
    width: 120px;
    height: 35px;
    color: #000000;
    background: transparent;
    border: 1.5px solid;
    cursor: pointer;
    transition: var(--transition);
}

.quiz-intro button:hover {
    border-radius: 0 10px 0 10px;
    box-shadow: 0px 0px 10px 2px #ffffff18;
    transform: scale(1.1);
}

#nextQuestion {
    margin-top: 30px;
    width: 120px;
    height: 35px;
    color: #000000;
    background: transparent;
    border: 1.5px solid;
    cursor: pointer;
    transition: var(--transition);
}

#nextQuestion:hover {
    border-radius: 0 10px 0 10px;
    box-shadow: 0px 0px 10px 2px #0000003d;
    transform: scale(1.1);
}

.quiz-questions {
    display: none;
}

.quiz-questions .btn-secondary {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question {
    margin-bottom: 20px;
    color: #808080;
    font-size: var(--font-size);
    font-weight: 500;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option {
    padding: 15px;
    background-color: #70707091;
    color: var(--secundary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: var(--transition);
}

.option:hover {
    transform: scale(1.01);
    background-color: #3d3d3dcb;
}

.option.selected {
    background-color: #3d3d3dcb;
}

.quiz-result {
    text-align: center;
    display: none;
    color: #808080;
    font-size: var(--font-size);
    font-weight: 500;
}

.quiz-result button {
    margin-top: 30px;
    width: 120px;
    height: 35px;
    color: #000000;
    background: transparent;
    border: 1.5px solid;
    cursor: pointer;
    transition: var(--transition);
}

.quiz-result button:hover {
    border-radius: 0 10px 0 10px;
    box-shadow: 0px 0px 10px 2px #0000003d;
    transform: scale(1.1);
}

#resultTitle {
    font-size: var(--font-size);
    color: #000000;
    font-weight: 500px;
    margin-bottom: 10px;
}


/* style contato */
.contact {
    background-color: transparent;
    margin: 90px;
    display: flex;
    justify-content: end;
}

.contact h2 {
    text-align: center;
    color: var(--secundary-color);
    font-size: var(--font-tittle);
    font-weight: 500;
    margin-bottom: 30px;
}

form {
    max-width: 600px;
    min-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid var(--secundary-color);
    box-shadow: 10px 10px 5px 0px #0000004a;
    border-radius: 10px;
    font-size: var(--font-size2);
}

.form-group textarea {
    resize: vertical;
    min-height: 150px;
}

.error-message {
    color: red;
    font-size: var(--font-size2);
    margin-left: 10px;
    margin-top: 5px;
}

#contactForm button {
    margin-top: 30px;
    width: 120px;
    height: 35px;
    color: var(--secundary-color);
    background: transparent;
    border: 2px solid;
    cursor: pointer;
    transition: var(--transition);
}

#contactForm button:hover {
    border-radius: 0 10px 0 10px;
    box-shadow: 0px 0px 10px 2px #ffffff18;
    transform: scale(1.1);
}

/* style app */
#error {
    color: var(--secundary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#error h1 {
    font-size: 60px;
    animation: text 11s infinite;
}

#error h2 {
    animation: text 11s infinite;

}

#error span {
    color: red;
}

/* style equipe */

#ctn-card-equipe {
    display: flex;
    flex-wrap: wrap;
    margin: 120px;
    gap: 80px;
}

#card-pessoal .foto {
    width: 100%;
    border: 4px solid;
    border-color: #00000061;
    border-radius: 20px 0px 20px 0px;
}

#card-pessoal {
    max-width: 250px;
    min-width: 250px;
    height: 70vh;
    background-color: #0000008c;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 5px 0px #0000004a;
    border-radius: 20px 0px 20px 0px;
    transition: var(--transition);
}

#card-pessoal:hover {
    transform: scale(1.05);
}

.dados {
    padding: 10px 30px 10px 30px;
}

.dados h1 {
    text-align: center;
    font-size: var(--font-tittle2);
    color: var(--secundary-color);
}

.dados h2 {
    font-size: var(--font-size3);
    font-weight: 500;
    color: #d7d7d7;
}

.dados p {
    margin-top: 20px;
    font-size: var(--font-size);
    font-weight: 700;
    color: #ffffff;
}

.dados h3 {
    font-size: var(--font-size);
    font-weight: 300;
    color: #cecece;
}

.redes {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 30px;

}

.redes img {
    border: none;
    width: 30px;
    transition: var(--transition);
}

.redes img:hover {
    transform: scale(1.2);
}


/* footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: url('../assets/img/fundo.png') no-repeat bottom center/cover;
    background-size: 3000px;
    color: var(--secundary-color);
}

footer .logo img {
    width: 100px;
}

footer .ctn-footer {
    margin-top: 40px;
    margin-bottom: 20px;
}

.ctn-equipe {
    display: flex;
}

.links {
    display: flex;
    gap: 10px;
}

.links a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 45px;
    background: transparent;
    color: var(--light-color);
    transition: var(--transition);
}

.links a:hover {
    border: 1px solid var(--secundary-color);
    transform: translateY(-5px);
}

footer .equipe {
    margin: 15px;
    list-style: none;
}

footer .equipe li a {
    text-decoration: none;
    font-weight: 600;
    color: var(--light-color);
}

.direitos h4 {
    font-size: var(--font-size2);
    font-weight: 400;
}

.direitos span a {
    text-decoration: none;
    color: var(--light-color);
    transition: var(--transition);
}

.direitos span a:hover {
    padding: 3px;
    border: 1px solid var(--secundary-color);
}

@media (max-width: 920px) {

    header {
        margin: 30px;
    }

    .nav-links {
        position: fixed;
        flex-direction: column;
        right: -100%;
        width: 100%;
        height: 100vh;
        top: 0px;
        background-color: #000000df;
        backdrop-filter: blur(2px);
        transition: var(--transition);
    }

    .nav-links a {
        font-size: var(--font-size);
        margin: 60px;
        align-items: center;
        justify-content: center;
    }

    .nav-links.active {
        left: 0;
    }

    .mobile-menu {
        display: flex;
    }

    .mobile-menu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .mobile-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .mobile-menu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .logo img {
        width: 100px;
    }

    .title {
        animation: none;

    }

    .subtitle {
        animation: none;
    }

    .btn button {
        margin: 30px;
    }

    .secao1 {
        margin: 0px;
    }

    #info-bar {
        border-radius: 0px;
    }

    #info {
        width: 100px;
    }

    #info h1 {
        font-size: var(--font-tittle2);
        font-weight: 700;
    }

    #info h3 {
        font-size: var(--font-size);
        font-weight: 400;
    }


    /* cards */
    #solutions {
        margin: 30px;
    }

    #solution-info h2 {
        font-weight: 400;
    }

    #ctn-card {
        gap: 40px;
    }

    #card:hover {
        transform: scale(1.02);
    }


    /* Quiz Styles */
    .quiz {
        border-radius: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .quiz-container {
        min-width: 300px;
    }

    .quiz-intro {
        text-align: justify;
    }

    .quiz-result {
        text-align: justify;
    }

    /* error */
    #error h1 {
        font-size: 50px;
        animation: none;
    }

    #error h2 {
        animation: none;
    }

    /* equipe */
    #ctn-card-equipe {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
        margin-top: 90px;
        margin-left: 50px;
        margin-right: 50px;
        gap: 10px;
    }

    #card-pessoal {
        max-width: 130px;
        min-width: 120px;
        height: 100%;
        margin-bottom: 20px;
    }

    #card-pessoal:hover {
        transform: scale(1.04);
    }

    .dados h1{
        font-size: var(--font-size2);
    }

    .dados p {
    margin-top: 10px;
    font-size: var(--font-size2);
    font-weight: 700;
    color: #ffffff;
    }

    .dados h3{
        font-size: var(--font-size3);
        margin-bottom: 0;
    }

    .redes {
        margin-top: 5px;
        margin-bottom: 10px;
        gap: 20px;

    }

    .redes img {
        width: 15px;
    }

    /* style contato */
    .contact {
        margin-top: 90px;
        justify-content: center;
    }

    form {
        max-width: 330px;
        min-width: 330px;
    }

    .form-group input,
    .form-group select,
    .form-group textarea {
        padding: 10px;
    }

    .form-group textarea {
        min-height: 100px;
    }

    /* style app */
    #error {
        color: var(--secundary-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #error h1 {
        font-size: 60px;
        animation: text 11s infinite;
    }
}